*{
    margin: 0;
    padding: 0;
}
main{
    background-color: #f59b71;
    display: flex;
    justify-content: center;
}

/* Efeitos Menu */
.efeito-menu:hover{
    background-color: #8a6f5f;
    color: white;
}

.efeito-menu-a:hover{
    background-color: #8a6f5f;
    color: white;
}

/* cabeçalho */
header a{
    font-size: 1.3em;
    text-decoration: none;
    
}

header{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 35% 1fr;
    background-color: white;
    padding: 5px 20px;
}

.header1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
}

#div1{
    flex-grow: 2;
    display: flex;
    justify-content: start;
    align-items: center;
    /* border: 1px solid blue; */
}

#div1>input{
    width: 400px;
    height: 30px;
}

#div1>button{
    margin-right: 10px;
}

#div2{
    flex-grow: 0.2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid green; */
}

#div2 img{
    width: 50px;
    height: 50px;
}

.efeito-menu-a{
    color:  #8a6f5f;
}

#logo{
    width: 150px;
    height: 150px;
    grid-row: 1/3;
}

.header1 img{
    width: 30px;
    height: 30px;
}


/* header 2 */
.header2{
    display: flex;
    justify-content: start;
    align-items: center;
    /* border: 1px solid red; */
}

.header2 a{
    margin-left: 13px;
    color:  #8a6f5f;
}


/* main */

.quem-somos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    height: min-content;
    max-width: 80vw;
    /* background-color: palevioletred; */
    padding: 3% 0%;
    font-size: 1.3em;
}

.quem-somos h1{
    padding-bottom: 30px;
}


/* footer */

footer{
    width: 100%;
    height: 40vh;
    background-color: #8a6f5f;
    display: grid;  
    
}

.grid-footer-template-area{
    grid-template: 33% 33% 33%/33% 33% 33% ; 
    
	grid-template-areas: 
		" bloco1 bloco2 bloco3 " 
		" bloco1 bloco2 bloco3 " 
        " bloco1 bloco2 bloco3"
		;


}

.bc1{
    grid-area: bloco1;
    margin: 3%;
}
.bc2{
    grid-area: bloco2;
    margin: 3%;
}
.bc3{
    grid-area: bloco3;
    margin: 3%;

}

footer a{
    text-decoration: none;
    font-size: large;
    font-weight: bolder;
}

.bc2 img{
    width: 40%;
    height: 60%;
    border-radius: 60% ;
}

.bc2{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bc3{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 5%;
}



