*{
    margin: 0;
    padding: 0;
}
/* cabeçalho */
header a{
    font-size: 1.3em;
    text-decoration: none;
}

header{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 35% 1fr;
    background-color: #8a6f5f;
    padding: 10px;
}

.header1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
}

#div1{
    flex-grow: 2;
    display: flex;
    justify-content: start;
    align-items: center;
    /* border: 1px solid blue; */
}

#div1>input{
    width: 400px;
    height: 30px;
}

#div1>button{
    margin-right: 10px;
}

#div2{
    flex-grow: 0.2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid green; */
}

#div2 img{
    width: 50px;
    height: 50px;
}

#div2 a{
    color: white;
}

#logo{
    width: 150px;
    height: 150px;
    grid-row: 1/3;
}

.header1 img{
    width: 30px;
    height: 30px;
}


/* header 2 */
.header2{
    display: flex;
    justify-content: start;
    align-items: center;
    /* border: 1px solid red; */
}

.header2 a{
    margin-left: 13px;
    color: white;
}


/* menu */
/* .container-menu{
    display: grid;
    background-color: #c1b4ac;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr ;
    width: 100%;
    height: 80vh;
}

.container-menu > div{
    background-color: #8a6f5f;
    width: 90%;
    height: 90%;
    margin: 10px;

    justify-items: center;
    align-items: center;
}

div > img{
    width: 100%;
    height: 100%;
} */



/* footer{
    width: 100%;
    height: 10vh;
    background-color: #8a6f5f;
} */
